//! **************************************************************************
// Written by: Map M.53d on Thu Aug 04 23:43:48 2011
//! **************************************************************************

SCHEMATIC START;
COMP "PS2_DATA" LOCATE = SITE "G13" LEVEL 1;
COMP "CLK_50MHZ" LOCATE = SITE "C9" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "G14" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "F9" LEVEL 1;
NET "CLK_50MHZ_BUFGP/IBUFG" BEL "CLK_50MHZ_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
NET "CLK_50MHZ_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

