NET "PS2_CLK" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW | PULLUP;
NET "PS2_DATA" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = SLOW | PULLUP;
NET "RESET" LOC = "K17";
NET "led_state[7]" LOC = "F12" | IOSTANDARD = LVCMOS33;
NET "led_state[6]" LOC = "E12" | IOSTANDARD = LVCMOS33;
NET "led_state[5]" LOC = "E11" | IOSTANDARD = LVCMOS33;
NET "led_state[4]" LOC = "F11" | IOSTANDARD = LVCMOS33;
NET "led_state[3]" LOC = "C11" | IOSTANDARD = LVCMOS33;
NET "led_state[2]" LOC = "D11" | IOSTANDARD = LVCMOS33;
NET "led_state[1]" LOC = "E9"  | IOSTANDARD = LVCMOS33;
NET "led_state[0]" LOC = "F9"  | IOSTANDARD = LVCMOS33;